
<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>Minnesota's veteran suicides continue taking a steady toll</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-11-11T16:00:00">November 11, 2019</time>
      </div>
      <p></p>
      <!-- share -->
    </section>
    
    <section class="container-lg">
        <p>Minnesota veterans have died by suicide at more than twice the rate of the state's civilian population since 2005, although that rate declined slightly in 2018, according to preliminary data provided by the Minnesota Department of Public Health.</p>

        <p>In all, nearly 1,600 Minnesota veterans have died by suicide since 2005, underscoring a longstanding crisis that’s taken a heavy toll on vulnerable veteran populations while playing a role in <a href="http://www.startribune.com/suicide-rate-in-minnesota-has-been-rising/440778623/?refresh=true">worsening suicide numbers</a> overall.</p>

        <p>The U.S. Department of Veterans Affairs estimates about 17 military veterans die of suicide each day nationally.</p>
    </section>

    <div class="slide" id="change">
        <div class="chartTitle">Minnesota's rising suicide rates</div>
        <div class="chatter">Minnesota's <span class="legendary green3">veteran suicide rate</span> per 100,000 has been climbing for decades, far surpassing the state's <span class="legendary gray2">total</span> and <span class="legendary orange2">civilian</span> rates.</div>
        <div id="chartTrend" class="chart"></div>
    </div>

    <section class="container-lg">

        <p>Preliminary data on veterans' deaths was provided by the Department of Health at the Star Tribune's request and provides a comprehensive look at the characteristics of veterans' suicides.</p>

        <p>Finalized statistics for 2018 have not yet been released, but despite a drop in the suicide rate between 2017 and 2018, the suicide rate among veterans routinely remains far higher than that of the general population.</p>

        <p>The records show that 44 veteran suicides occurred between January and June 2019 — a number roughly in line with recent years</p>
                
        <p>Suicides occur most often among those who are male and older than 54. Two-thirds of Minnesota's veteran suicide deaths involved a firearm, a method more common among former service members than other groups.</p>
    </section>

      <div class="slide" id="breakdown">
          <div class="chartTitle">Which veterans die by suicide</div>
        <div class="chatter">Minnesota's veteran suicides in 2018 shared common characteristics.</div>
        <p></p>
        <div id="chartCharge">
          <div class="label">Age group</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:36%"><div>55-74<br />36%</div></div><div class='green4 mainbar' style="width:26%"><div>75+<br />26%</div></div><div class='green3 mainbar' style="width:21%"><div>35-54<br />21%</div></div><div class='green2 mainbar' style="width:17%"><div>18-34<br />17%</div></div>
          </div>
            
          <div class="label">Method of suicide</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:66%"><div>Firearms<br />66%</div></div><div class='green4 mainbar' style="width:19%"><div>Suffocation<br />19%</div></div><div class='green3 mainbar' style="width:15%"><div>Other<br />15%</div></div>
            </div>
      
          <div class="label">Gender</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:91%"><div>Male<br />97%</div></div><div class='green4 mainbar' style="width:9%"><div>Female<br />3%</div></div>
            </div>
           
      </div>
    </div>
  
    <section class="container-lg">

        <p>And as Minnesota's <a href="http://www.startribune.com/big-changes-coming-in-the-needs-of-minnesota-s-veterans/456197893/">gradually dwindling</a> veteran populations age, experts have warned rates could further rise without intervention.</p>
      
        <p>The Veterans Crisis Line can be reached toll free by calling 1-800-273-8255 and pressing 1. It is open to all veterans, not just those who are patients at VA medical centers.</p>

        <p>The National Suicide Prevention Lifeline is 1-800-273-8255.</p>

        <p>The Crisis Text Line is 741-741.</p>
    </section>

    <div class="slide">
      <div class="byline">Data source: Minnesota Department of Health, U.S. Department of Veterans Affairs.  Note: The overall Minnesota suicide rate for 2018 is unofficial and based on a Star Tribune analysis of public state death records. Rates are not age-adjusted.</div>
    </div>

  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>
</div>




<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
