
<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>Minnesota's veteran suicides continue taking a steady toll</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-11-11T16:00:00">November 11, 2019</time>
      </div>
      <p></p>
      <!-- share -->
    </section>
    
    <section class="container-lg">
        <p>As Minnesota’s aging veteran population <a href="http://www.startribune.com/big-changes-coming-in-the-needs-of-minnesota-s-veterans/456197893/">gradually dwindles</a>, 100 or more former service members still die by suicide each year – doubling rates in the civilian and overall populations.</p>

        <p>About 1,500 veterans have died by suicide in Minnesota since 2005, at rates that climbed 10 points across the last decade, underscoring a longstanding crisis that’s taken a steady toll on vulnerable veteran populations while playing a role in <a href="http://www.startribune.com/suicide-rate-in-minnesota-has-been-rising/440778623/?refresh=true">worsening suicide numbers</a> overall.</p>
        
        <p>And while 2018's veteran suicide rate dropped about three points from the prior year, it remained far higher than rates in other populations.</p>
    </section>

    <div class="slide" id="change">
        <div class="chartTitle">Minnesota's rising suicide rates</div>
        <div class="chatter">Minnesota's <span class="legendary green3">veteran suicide rate</span> per 100,000 has been steadily climbing for decades, far surpassing the state's <span class="legendary gray2">total</span> and <span class="legendary orange2">civilian</span> rates.</div>
        <div id="chartTrend" class="chart"></div>

      
    </div>

    <section class="container-lg">


       <p>Minnesota's general and veteran suicide rates have risen in tandem with national trends as public health officials struggle to find solutions.</p>

        <p>And as veteran populations age, particularly those from post-9/11 wars, experts said rates could further rise without intervention.</p>
        
        <p>Veterans in Minnesota dying by suicide tend to be male and older than 54, according to the U.S. Department of Veteran Affairs.</p>
        
        <p>More than half of Minnesota's veteran suicide deaths involved a firearm, a method more common among former service members than the general population.</p>
        
    </section>

      <div class="slide" id="breakdown">
          <div class="chartTitle">Which veterans die by suicide</div>
        <div class="chatter">Minnesota's veteran suicides in 2016 shared common characteristics.</div>
        <p></p>
        <div id="chartCharge">
          <div class="label">Age group</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:36%"><div>55-74<br />36%</div></div><div class='green4 mainbar' style="width:32%"><div>35-54<br />33%</div></div><div class='green3 mainbar' style="width:17%"><div>75+<br />17%</div></div><div class='green2 mainbar' style="width:15%"><div>18-34<br />15%</div></div>
          </div>
            
          <div class="label">Method of suicide</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:55%"><div>Firearms<br />55%</div></div><div class='green4 mainbar' style="width:22%"><div>Poisoning<br />22%</div></div><div class='green3 mainbar' style="width:23%"><div>Other<br />23%</div></div>
            </div>
      
          <div class="label">Gender</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:91%"><div>Male<br />91%</div></div><div class='green4 mainbar' style="width:9%"><div>Female<br />9%</div></div>
            </div>
      
          <!-- <div class="label">Portion of total suicides</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:81%"><div>Civilian<br />81%</div></div><div class='green4 mainbar' style="width:19%"><div>Veteran<br />19%</div></div>
            </div> -->
           
      </div>
    </div>
  
    <section class="container-lg">
      
        <p>The Veterans Crisis Line can be reached toll free by calling 1-800-273-8255 and pressing 1. It’s open to all veterans, not just those who are patients at VA medical centers.</p>

        <p>The National Suicide Prevention Lifeline is 1-800-273-8255.</p>

        <p>The Crisis Text Line is 741-741.</p>
    </section>

    <div class="slide">
      <div class="byline">Data source: Minnesota Department of Health, U.S. Department of Veterans Affairs | Graphics by Jeff Hargarten, Star Tribune</div>
    </div>

  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>
</div>




<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
