
<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>Minnesota's hidden veteran deathtoll continues its rise</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-11-11T16:00:00">November 11, 2019</time>
      </div>
    </section>
    
    <section class="container-lg">
        <p>As Minnesota's overall suicide rate <a href="http://www.startribune.com/suicide-rate-in-minnesota-has-been-rising/440778623/">increases overall</a>, the rate among the state's military veterans has risen at faster rates, underscoring the greater risk those who have returned from service face.</p>
  
        <p>Suicides in Minnesota increased about five percent in the total population from 2016 to 2017, <a href="https://www.health.state.mn.us/communities/suicide/documents/2017suicidedatabrief.pdf" target="new_">according to the Minnesota Department of Health</a>. Over that time period, VA numbers show veteran suicide rates jumped TK to TK, nearly three times the overall population.</p>
    </section>

    <div class="slide" id="change">
        <div class="chatter">Minnesota's <span class="legendary green3">veteran suicide rate</span> per 100,000 has been steadily climbing for decades, well surpassing the state's <span class="legendary gray5">total suicide rate</span>.</div>
        <div id="chartTrend" class="chart"></div>

        <div class="byline">Data source: Minnesota Department of Health, U.S. Department of Veterans Affairs</div>
    </div>

    <section class="container-lg">
        <p>Minnesota's overall suicide rate has risen in tandem with national rates, nearly matching them. Minnesota's veteran suicide rate has also been in-step with national trends.</p>
  
        <p>Veterans in Minnesota dying by suicide tend to be older than 54, according to the VA. About 55 percent of Minnesota's veteran suicide deaths involved a firearm, compared to 45 percent in the state's overall population.</p>
        
    </section>

      <div class="slide" id="breakdown">
        <div class="chatter">Minnesota's veteran suicides in 2016 shared common characteristics.</div>
        <div id="chartCharge">
          <div class="label">Age group</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:36%"><div>55-74<br />36%</div></div><div class='green4 mainbar' style="width:32%"><div>35-54<br />33%</div></div><div class='green3 mainbar' style="width:17%"><div>75+<br />17%</div></div><div class='green2 mainbar' style="width:15%"><div>18-34<br />15%</div></div>
          </div>
            
          <div class="label">Method of suicide</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:55%"><div>Firearms<br />55%</div></div><div class='green4 mainbar' style="width:22%"><div>Poisoning<br />22%</div></div><div class='green3 mainbar' style="width:23%"><div>Other<br />23%</div></div>
            </div>
      
          <div class="label">Gender</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:91%"><div>Male<br />91%</div></div><div class='green4 mainbar' style="width:9%"><div>Female<br />9%</div></div>
            </div>
      
          <div class="label">Portion of total suicides</div>
          <div class="bar">
            <div class='green5 mainbar' style="width:87%"><div>Civilian<br />87%</div></div><div class='green4 mainbar' style="width:13%"><div>Veteran<br />13%</div></div>
            </div>
            <div class="byline">Data source: U.S. Department of Veterans Affairs</div>
      </div>
    </div>
  
    <section class="container-lg">
        <p>As veteran populations age, particularly those from post-9/11 wars, experts said rates could further rise without intervention.</p>

        <p><em>The Veterans Crisis Line can be reached toll free by calling 1-800-273-8255 and pressing 1. It’s open to all veterans, not just those who are patients at VA medical centers.</em></p>

        <p><em>The National Suicide Prevention Lifeline is 1-800-273-8255.</em></p>

        <p><em>The Crisis Text Line is 741-741.</em></p>
    </section>

  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>
</div>




<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
